.block {
    display: flex;
    align-items: center;
    min height: 100vh;
    padding: 40px 0;
}

.card-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-row #card {
    flex-basis: 23%;
    margin: 10px;
}